<ng-container *transloco="let t">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="navigation-menu">
    <a mat-menu-item *ngFor="let item of navigationMenuItems" [routerLink]="item.link">
      <mat-icon color="primary">
        {{ item.icon }}
      </mat-icon>
      <span class="pr-2">{{ t(item.name) }}</span>
    </a>
    <div class="cursor-default font-thin opacity-30 pt-2 text-center text-sm select-none">
      {{ t('general.version', { version }) }}
    </div>
  </mat-menu>
</ng-container>
