<ng-container *transloco="let t">
  <mat-card>
    <mat-selection-list #routineList [multiple]="false">
      <mat-list-item *ngFor="let routine of routines" lines="2" (click)="selectRoutine(routine)">
        <mat-icon matListItemIcon>directions_run</mat-icon>
        <div class="flex flex-row items-center h-16">
          <div class="flex flex-col flex-grow select-none">
            <span matListItemTitle>{{ routine.name }}</span>
            <span matListItemLine>
              {{
                routine.metadata.activities.counter +
                  t('routine.list.routine.metadata') +
                  (routine.metadata.steps.duration.as('seconds') | secondsToTime)
              }}
            </span>
          </div>
          <mat-icon *ngIf="(activeRoutine$ | push)?.id === routine.id" color="primary">
            play_circle
          </mat-icon>
        </div>
      </mat-list-item>
    </mat-selection-list>
  </mat-card>
</ng-container>
